<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        tools:targetApi="31">
        <activity
            android:name=".EmployeesView"
            android:exported="false" />
        <activity
            android:name=".ManageMenu"
            android:exported="false" />
        <activity
            android:name=".ManageRestaurant"
            android:exported="false" />
        <activity
            android:name=".Startseite"
            android:exported="false" />
        <activity
            android:name=".CreateRestaurant"
            android:exported="false" />
        <activity
            android:name=".Einstellungen"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name="com.example.qrcodegenerator.OrderManager"
            android:exported="false" />
        <activity
            android:name="com.example.qrcodegenerator.QRCodeReader"
            android:exported="true"></activity>
        <activity
            android:name="com.example.qrcodepdf.PdfActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.example.Bestellungen.BestellungenActivity"
            android:exported="false" />
        <activity
            android:name="com.example.Tische.TischeActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmTdKR4YI0DqvIGoQlNlZOmuBtjbnScVY" />

        <activity android:name="com.example.mitarbeiterverwaltung.MitarbeiterVerwalten" />
    </application>

</manifest>